* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 2em;
  line-height: 1.875em;
  margin: auto;
}

body::after {
  content: '';
  position: absolute;
  z-index: 99;
  background-color: rgba(0,159,227, 0.5);
  height: 100vh;
  width: 100vw;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
}

nav ul{
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 101;
  padding: 10px 20px;
  width: 100%;
  height: 50px;
  background-color: white;
}

.nav-top .hamburger {
  /* margin-left: auto; */
  color: #009FE3;
  cursor: pointer;
  font-size: 1.5em;
}

.nav-drill {
  margin-top: 50px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.nav-is-toggled .nav-drill {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-is-toggled::after {
  opacity: 1;
  visibility: visible;
}

.nav-drill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.nav-items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.nav-item:not(:last-child) {
  border-bottom: solid 1px #009FE3;
}

.nav-link {
  display: block;
  padding: 0.875em 1em;
  background-color: #fff;
  color: #396487;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 300;
}

.nav-expand-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #daf9f4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
}

.nav-expand-content .nav-item:not(:last-child) {
  border-bottom: solid 1px #009FE3;
}

.nav-expand-content .nav-link {
  background-color: #daf9f4;
}

.nav-expand-content .nav-back-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #009FE3 !important;
  color: #fff;
}

.nav-expand-content .nav-back-link::before {
    content: "\2190";
  margin-right: 0.5em;
  
}

.nav-expand-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-expand-link::after {
  content: "\2192";
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-family: "Material Icons";
  
}

.nav-expand.active > .nav-expand-content {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.nav-expand .nav-expand-content {
  background-color: rgb(161, 227, 255);
}

.nav-expand .nav-expand-content .nav-link {
  background-color:  rgb(161, 227, 255);
}


/*# sourceMappingURL=main.css.map */